PORT=3000
MONGO_URI=mongodb://localhost:27017/sop-intelligence-system
# MONGO_URI=mongodb+srv://jatovdeepak_db_user:ePEHwsILlTvvi8rq@sop-intelligence-instan.j1b7scx.mongodb.net/?appName=sop-intelligence-instance-1
JWT_SECRET=super_secret_dmac_key_2026